
name: 'bookstore-spring-boot-microservices'

services:
  catalog-db:
    image: mysql:8.0
    container_name: catalog-db
    environment:
      MYSQL_DATABASE: catalog
      MYSQL_USER: root
      MYSQL_PASSWORD: vicky00950K$
    ports:
      - "3307:3306"
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost", "-u", "user", "-ppassword"]
      interval: 10s
      timeout: 5s
      retries: 5
    deploy:
      resources:
        limits:
          memory: 500m
